#imagem{background-image:url("./img/slide9.png");}
#imagem1{background-image:url("./img/slide7.png");}
#imagem2{background-image:url("./img/slide8.png");}
#x1{background-image:url("./img/pf2.jpg");background-repeat: no-repeat;}
